<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	imageQuality="99"
	resizeOnImport="true"
	galleryTitle="TSA Photo Gallery"
	useFullscreenExpand="false"

>
  <image imageURL="images/Members Holding Up The TSA Logo.jpg"
	thumbURL="thumbs/Members Holding Up The TSA Logo.jpg"
	linkURL="images/Members Holding Up The TSA Logo.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Devan\Desktop\Members Holding Up The TSA Logo.jpg">
    <title><![CDATA[Members Holding Up The TSA Logo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/TSA Member giving feedback on another member's design.jpg"
	thumbURL="thumbs/TSA Member giving feedback on another member's design.jpg"
	linkURL="images/TSA Member giving feedback on another member's design.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Devan\Desktop\TSA Member giving feedback on another member's design.jpg">
    <title><![CDATA[TSA Member giving feedback on another member's design]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/TSA Member helping a companion with a sketching project.jpg"
	thumbURL="thumbs/TSA Member helping a companion with a sketching project.jpg"
	linkURL="images/TSA Member helping a companion with a sketching project.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Devan\Desktop\TSA Member helping a companion with a sketching project.jpg">
    <title><![CDATA[TSA Member helping a companion with a sketching project]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/TSA Members working together to reach a common goal.jpg"
	thumbURL="thumbs/TSA Members working together to reach a common goal.jpg"
	linkURL="images/TSA Members working together to reach a common goal.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Devan\Desktop\TSA Members working together to reach a common goal.jpg">
    <title><![CDATA[TSA Members working together to reach a common goal]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>